.web-logo {
  padding: 10px 0px;
  max-width: 400px;
}

.custom-nav-link {
  color: white;
  font-weight: bold;
  padding: 0 10px;
}

.custom-nav-link:hover {
  color: #fd8350;
  text-decoration: none;
}

#logout-btn {
  color: #fd8350;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.6rem;
}