.destination-form {
  background-color: rgb(243, 243, 243);
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}

.destination-info {
  background-color: #fd8350;
  padding: 5px; 
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}

.map-container {
  height: 550px;
}